/****************************
*							*
*			Main			*
*							*
****************************/
main
{
	margin-top:7vh;
	min-height: 82vh;
}

main h1
{
	margin-bottom : 40px;
}

textarea
{ 
	height:30vh;
};

div#retour
{
	text-align: center;
	background: purple;
}

div#retour a
{
	font-weight: normal;
}


/****************************
*							*
*			Accueil			*
*							*
****************************/

#lastComment
{
	border-style: solid;
	border-color: #061A4A;
	border-width: 1px 0;
}

#lastComment h3
{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

#lastComment h3+p
{
	margin: 0;
}

/****************************
*							*
*			New				*
*							*
****************************/

p.radiochoice
{
	text-align: left;
}


/****************************
*							*
*			Manager			*
*							*
****************************/

th, td
{
	text-align:center;	
}

th
{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
}

tr.decorated
{
	border-bottom : 1px black solid;
}

td.decorated
{
	padding: 0 10px;
}