html, body
{
	background: url(img/fond.jpg) no-repeat center bottom fixed;
}

hr
{
	border-top: 1px solid #061A4A;
	width: 50%;
	margin: auto;
}

form:not([id^="modifier"])
{
	margin-top:20px;
}

img.avatar
{
	width: 50px;
	height:50px;
}

.alert
{
	color:red;
	text-align:center;
}

.success
{
	color:green;
	text-align: center;
}


/****************************
*							*
*			Navbar			*
*							*
****************************/			
.navbar,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown .open, .dropdown-menu, .dropdown-menu>li>a:hover
{
	background-color: #061A4A;
}

.navbar-inverse .navbar-brand, #navbar-collapse-target li>a
{
	color: #FFB70A;
	font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-brand:hover, #navbar-collapse-target li>a:hover
{
	color: gold;
}

.navbar-right li:last-child a
{
	display:flex;
	align-items:center;
}

.navbar img
{
	width:25px;
	height:25px;
	margin-right:5px;
	background:#EAEAEA;
}

.dropdown-menu
{
	width:100%;
}

.caret
{
	margin-left:5px;
}


/****************************
*							*
*			Main			*
*							*
****************************/	

main
{
	background:#EAEAEA;
	border: 5px solid #061A4A;
	border-radius: 7px;
	color: #061A4A;
	margin-top: 12vh;
	min-height: 79vh;	
}

main h1, main h2, main h3
{
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-bottom: 20px;
}

main
{
    font-family: 'Josefin Slab', serif;
    text-align: justify;
    padding: 10px;
}

main a
{
	font-weight: bold;
}


/****************************
*							*
*			Footer 			*
*							*
****************************/

footer
{
	background: #061A4A;
	color: #FFB70A;
	border: 5px solid #061A4A;
	border-radius: 7px;
	margin: 20px auto 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Josefin Slab', serif;
	font-size: 1.2em;
}

footer p
{
	margin:0;
}

/****************************
*							*
*			Accueil			*
*							*
****************************/
a[title="Lire la suite"]:hover
{
	text-decoration: none;
}

.preview
{
	background: #061A4A;
	color: #FFB70A;
	width: 95%;
	margin: 5px auto;
	padding: 0px 10px;
	border-radius: 7px;
	font-family: 'Josefin Slab', serif;
	border: 5px solid #061A4A;
}

.preview:hover
{
	background-color: #EAEAEA;
	color: #061A4A;
}

.date-humeur
{
	font-size:.4em;
}

#signature
{
	text-align: right;
	font-weight: bold;
}

/****************************
*							*
*			Billets			*
*							*
****************************/	

.commande
{
	display:flex;
	justify-content: space-between;
	font-size: 1.5em;
	color: grey;
}

.commande a
{
	color: #061A4A;
	text-decoration:none;
}

p.info
{
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
}

.commentaire div:first-of-type, .reponse
{
	display: flex;
	justify-content: flex-start;
	align-items: start;
}
.reponses
{
	margin-left: 2vw;
	margin-bottom:20px;
	border-left: 1px #061A4A dotted;
}

.commentaire img.avatar, .reponse img.avatar
{
	margin: 5px;
}

.commentaire>div>div:last-of-type, .reponse>div:last-of-type
{
	width:100%;
}

.commentaire p:first-of-type, .reponse p:first-of-type
{
	margin-bottom:0;
}

.commentaire p:last-of-type, .reponse p:last-of-type
{
	margin-top:-10px;
	margin-bottom:20px;
	font-size:0.8em;
}

.reponses>.reponse:last-of-type p:last-of-type
{
	margin-bottom:0px;
}

form>p
{
	text-align: center;
	margin: 5px;
}

.reponseForm, .modifForm
{
	display: none;
}

.reponseTextarea, .mce-container-body, .mce-tinymce
{
	display:block !important;
}

.mce-first
{
	display:inline-block !important;
}

.reponseForm>p, .modifForm>p
{
	margin-top:5px !important;
}


/****************************
*							*
*			Auteur 			*
*							*
****************************/

#auteur
{
	display: none;
}

#note
{
	text-align: right;
	font-size: 0.8em;
}

.bibliographie
{
	display: flex;
	justify-content: space-around;
}

.bibliographie ul>li
{
	margin-left:-30px;
}


/****************************
*							*
*			404 			*
*							*
****************************/

p.flag
{
	text-align: center;
}


/****************************
*							*
*		Inscription 		*
*							*
****************************/

#pwdDissemblables
{
	color: red;
	display: none;
}

label[for=stayCo]
{
	font-weight: normal;
}


/****************************
*                           *
*			Profil			*
*							*
*****************************/

form.profil
{
	text-align:left;
}

form.profil>div
{
	display:flex;
	justify-content:space-between;
}

form.profil .modifier
{
	display:none;
}

form.profil>div>div>label
{
	width: 20vw;
}

form.profil img
{
	border: 1px black dotted;
}

form.profil button
{
	height: 30px;
	align-self: center;
}

label[for=deleteAccount]
{
	font-weight: normal;
	margin-top: 20px;
}


/****************************
*							*
*			Tablettes		*
*							*
****************************/

@media (min-width:768px)
{
	.navbar-inverse .navbar-brand 
	{
		font-size: 2em;
	}

	#navbar-collapse-target li>a
	{
		font-size: 1.5em;
	}
	
	.navbar-right
	{
		display:flex;
		align-items:center;
	}

	main
	{
		font-size: 1.2em;
	}

	main h1
	{
		font-size: 2.5em;
	}

	main>div, main>article, main>form, main>table
	{
	    width: 80%;
		margin:auto;
	}
	
	.preview
	{
	    width: 80%;
	    margin: 20px auto 40px;
	}
	
	#ps
	{
		font-size: .9em;
	}

	.archives
	{
		width:initial;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	#auteur
	{
		display: initial;
		float: left;
		margin: 10px;
	}
	
	.bibliographie ul>li
	{
		margin-left:0;
	}
	
	form.profil:first-of-type
	{
		margin-top:100px;	
	}
	
	form.profil>div>div>label
	{
		width: 10vw;
	}
}


/****************************
*							*
*			Bureau			*
*							*
****************************/

@media (min-width:992px)
{
	p.page404
	{
		font-size: 1.5em;
		margin: 30px;
	}
}


/****************************
*							*
*		Grand Bureau		*
*							*
****************************/

@media (min-width:1200px)
{	
	main h1
	{
		line-height: 75%;
	}
}